@font-face {
  font-family: SceneW01-Black;
  src: url(../../../assets/fonts/SceneW01-Black.ttf);
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../../../assets/fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../../assets/fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../../../assets/fonts/roboto-v20-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../../assets/fonts/roboto-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

/* Header styles start */
.header {
  padding-top: 12px;
  width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.hidden {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.wrapper {
  position: relative;
  z-index: 2;
  max-width: 1160px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 412px;
  margin-left: 57px;
}

.header-nav-list__item {
  width: fit-content;
  height: 21px;
  margin-right: 35px;
}

.header-nav-list__item:last-child {
  margin-right: 0;
}

.header-nav__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.footer-nav__link:hover,
.header-nav__link:hover {
  text-shadow: #70cb0e 1px 1px 0, #70cb0e -1px -1px 0, #70cb0e -1px 1px 0,
    #70cb0e 1px -1px 0;
}

.active {
  text-shadow: #70cb0e 1px 1px 0, #70cb0e -1px -1px 0, #70cb0e -1px 1px 0,
    #70cb0e 1px -1px 0;
  pointer-events: none;
}

.header-main-txt {
  margin: 0 auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #000000;
}

/* Header styles end */

/* Map styles start */

.map__zoom-button,
.navigation,
.button,
body {
  font-family: "Roboto", Verdana, sans-serif;
}

.map {
  padding: 100px 0px;
}

.map__background {
  background-color: #a7e1ff;
}

.map__wrapper {
  position: relative;
}
.map__item {
  position: absolute;
}
.map__caption {
  max-width: 60px;
  text-align: center;
}
.map__usa {
  text-transform: uppercase;
  top: 380px;
  left: 202px;
}
.map__drc {
  top: 525px;
  left: 510px;
  font-size: 18px;
}
.map__china {
  top: 393px;
  left: 832px;
}
.map__mark-eagle {
  top: 394px;
  left: 147px;
}
.map__mark-alligator {
  top: 397px;
  left: 272px;
}
.map__mark-gorilla {
  top: 510px;
  left: 620px;
}
.map__mark-panda {
  top: 400px;
  left: 890px;
}

.map__img {
  width: 100%;
}

.map__animal {
  position: absolute;
}
.map__animal_eagle {
  top: 53%;
  left: 7%;
}
.map__animal_alligator {
  top: 54%;
  left: 26%;
}
.map__animal_gorilla {
  top: 69%;
  left: 56%;
}
.map__animal_panda {
  top: 53%;
  left: 79%;
}
.map__animal_elephant {
  top: 84%;
  left: 47%;
}
.map__animal_penguin {
  top: 89%;
  left: 21%;
}
.map__animal_polar-bear {
  top: 17%;
  left: 15%;
}
.map__animal_owl {
  top: 33%;
  left: 0%;
}

.map__animal-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffffff;
}

.map__animal-link {
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.map__animal-link::after {
  position: absolute;
  left: 90%;
  top: 26%;
  z-index: 1;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  min-width: 111px;
  text-align: center;
  padding: 5px 15px;
  pointer-events: none;
}
.map__animal-link_eagle::after {
  content: "EAGLE";
  position: absolute;
  left: -163%;
  top: 21%;
}
.map__animal-link_alligator::after {
  content: "ALLIGATOR";
}
.map__animal-link_gorilla::after {
  content: "GORILLA";
}
.map__animal-link_panda::after {
  content: "PANDA BEAR";
}
.map__animal-link_elephant::after {
  content: "ELEPHANT";
}
.map__animal-link_penguin::after {
  content: "PENGUIN";
}
.map__animal-link_owl::after {
  content: "ARCTIC SNOWY OWL";
}
.map__animal-link_polar-bear::after {
  content: "POLAR BEAR";
}

.map__animal-link:hover::after {
  content: attr(data-title);
  position: absolute;
  left: 94%;
  top: -20%;
  z-index: 1;
  background-image: url("../../assets/images/svg/tooltipe.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  min-width: 111px;
  text-align: center;
  padding: 5px 15px;
  pointer-events: none;
}
.map__animal-link:hover .map__animal-img {
  border: 4px solid #70cb0e;
}

.map__zoom {
  position: absolute;
  right: -31%;
  bottom: -5%;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.map__zoom-button {
  width: 32px;
  background-color: #ffffff;
  border: none;
  padding: 20px 10px;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 400;
}
.map__zoom-button_minus {
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
}
.map__zoom-button_plus {
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

.map__zoom-button-division {
  width: 32px;
  height: 1px;
  background-color: #000000;
}
/* Map styles end */

/* Footer styles start */
.footer-back {
  position: relative;
  z-index: 0;
}

.footer-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-flex-item {
  height: 62px;
}

.footer-back__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
}

.footer__form {
  display: flex;
  justify-content: center;
}

.footer__btn:hover {
  box-shadow: 0 0 4px 10px #59c3fb;
  cursor: pointer;
}

.footer__btn {
  width: 286px;
  height: 51px;
  background: #70cb0e;
  border-radius: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.footer-wrapper {
  position: relative;
  z-index: 2;
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 180px;
}

.footer-nav-list {
  vertical-align: middle;
  margin: 0;
}

.footer-nav__link {
  vertical-align: middle;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.footer-nav-item {
  padding-bottom: 10px;
}

.footer-nav-item:last-child {
  padding-bottom: 0;
}

.footer-social-container {
  display: flex;
  justify-content: space-between;
  width: 190px;
  vertical-align: middle;
}

.footer-insta__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../../../assets/icons/insta-ico.svg);
}

.footer-facebook__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../../../assets/icons/facebook-ico.svg);
}

.footer-twitter__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../../../assets/icons/twitter-ico.svg);
}

.footer-youtube__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../../../assets/icons/youtube-ico.svg);
}
.footer-insta__link:hover,
.footer-facebook__link:hover,
.footer-twitter__link:hover,
.footer-youtube__link:hover {
  box-shadow: 0 0 4px 10px #59c3fb;
}
.footer-flex-container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.footer-flex__txt {
  margin: 30px 0 0 0;
}

/* Footer styles end */
