.finish-registrator {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: white;
  position: absolute;
  z-index: 100;
  top: calc(50vh);
  left: calc(50vw - 180px);
}

.finish-registrator__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.25px;
  text-align: center;
  margin-bottom: 25px;
  color: rgba(0, 0, 0, 0.6);
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  backdrop-filter: blur(5px);
}

.notVisible {
  display: none;
}

.finish-registrator__btn {
  width: auto;
  padding: 0 10px 0 10px;
  height: 36px;
  background: #2196f3;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12),
    0px 6px 10px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: white;
}
