.wrapper__btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reg__btn,
.start__btn,
.stop__btn {
  width: auto;
  padding: 0 10px 0 10px;
  height: 32px;
  background: #f2f9fe;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12),
    0px 6px 10px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  border: none;
  margin-right: 37px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #2196f3;
}

@media only screen and (max-width: 1000px) {
  .wrapper__btn {
    order: 1;
  }
}
