.play-btn-container {
  margin: 2px auto;
  max-width: 95%;
  height: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(238, 238, 238);
  z-index: 0;
}

.start-btn,
.repeat-btn {
  position: relative;
  display: inline-block;
  height: 36px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 5px 3px white;
  background-color: #e90d31;
  font-size: 23px;
  font-weight: 400;
  margin: 3px;
  padding: 5px;
  color: white;
  cursor: pointer;
}
