.settings {
  min-height: auto;
  width: 80%;
  margin: 0 auto;
  margin-top: 47px;
  padding: 32px;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 0.1rem 0.25rem black;
}

.heading-settings {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 10px;
  margin-top: 10px;
}

.category-cards-select,
.amount-cards-select,
.show-time-select {
  height: 40px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
}

.save__btn {
  width: 108px;
  height: 36px;
  margin: 10px;
  background: #2196f3;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #ffffff;
}

.done-label {
  margin: 5px;
  font-size: 20px;
  color: #005f24;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
