.avatar__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar__name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: white;
}

.avatar__img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  display: block;
  border-radius: 50%;
  margin: 10px;
  margin-right: 21px;
}

@media only screen and (max-width: 1000px) {
  .avatar__wrapper {
    order: 2;
  }
}
