header {
  color: white;
}

.logo-link {
  width: 80px;
  height: 40px;
  margin-left: 24px;
  background-image: url('../../assets/images/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 700px;
}

.nav-item {
  width: 96px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.nav-link__about,
.nav-link__settings,
.nav-link__score {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.nav-link__about.active,
.nav-link__settings.active,
.nav-link__score.active,
.nav-link__about:hover,
.nav-link__settings:hover,
.nav-link__score:hover {
  opacity: 0.7;
  background-color: #1e88e5;
}

.nav-link__about::before,
.nav-link__settings::before,
.nav-link__score::before {
  width: 20px;
  height: 20px;
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  left: 38px;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-link__about::before {
  background-image: url('../../assets/icon/about-icon.svg');
}

.nav-link__settings::before {
  background-image: url('../../assets/icon/settings-icon.svg');
}

.nav-link__score::before {
  background-image: url('../../assets/icon/score-icon.svg');
}

header {
  min-height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2196f3;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.5);
}

.wrapper__btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reg__btn,
.start__btn,
.stop__btn {
  width: auto;
  padding: 0 10px 0 10px;
  height: 32px;
  background: #f2f9fe;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12),
    0px 6px 10px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  border: none;
  margin-right: 37px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #2196f3;
}

.avatar__img {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  margin-right: 21px;
  background-image: url('../../assets/images/avatar.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.reg-form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  position: relative;
  color: #9ca498;
  width: 640px;
  height: 460px;

  position: absolute;
  z-index: 100;
  top: calc(50vh - 230px);
  left: calc(50vw - 320px);
  background-color: #fafafa;
}

h1 {
  margin: 0;
  padding: 0;
}

.heading-form {
  display: block;
  height: 67px;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 67px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);

  padding-left: 20px;
  background-color: white;
}

.action {
  padding: 20px;
}

.input-container {
  width: 350px;
  position: relative;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-avatar {
  width: 198px;
  height: 198px;
  display: block;
  background-image: url(../../assets/images/avatar.svg);
}

.first-name,
.last-name,
.email {
  height: 56px;
  width: 328px;
  background-color: rgba(33, 33, 33, 0.08);
  border: none;
  box-shadow: 0 0.1rem 0.25rem black;
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  padding-left: 10px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.reg-form-add__btn {
  width: 108px;
  height: 36px;
  background: #2196f3;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #ffffff;
}

.reg-form-cancel__btn {
  width: 93px;
  height: 36px;
  margin-left: 17px;
  background: #e3f2fd;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #2196f3;
}

.first-name-error,
.last-name-error,
.email-error {
  display: block;
  height: 30px;
  width: 328px;
  font-family: Roboto, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.15px;
  color: rgba(172, 16, 16, 0.87);
}

.inputError {
  border: 1.5px solid rgba(172, 16, 16, 0.87);
}

.invalid {
  background-color: grey;
}

.validCheck__image {
  display: block;
  position: absolute;

  width: 40px;
  height: 40px;
  background-image: url(../../assets/images/validCheck.svg);
  background-size: cover;
}

.first-name-error + .validCheck__image {
  top: 12px;
  right: 27px;
}

.last-name-error + .validCheck__image {
  top: 109px;
  right: 27px;
}

.email-error + .validCheck__image {
  top: 206px;
  right: 27px;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  backdrop-filter: blur(5px);
}

.notScrollable {
  overflow: hidden;
}

.notVisible,
.notVisible.reg-form__wrapper,
.notVisible.cover,
.notVisible.avatar__img,
.notVisible.reg__btn,
.notVisible.stop__btn,
.notVisible.start__btn {
  display: none;
}
